*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --add-task-color: #14AAF5;
    --add-section-color: #e9e9e9;
    --title-section-color: #4A4F58;
    --button-editorial-color: #09A9ED;
    --button-q1-goal-color: #AB5DE6;
    --button-recruiting-color: #2CC6AB;
    --button-mobile-color: #FF9B00;
    --button-website-color: #EC4A9D;
    --button-sales-color: #A3D116;
    --flag-false-color: #FF3535;
    --flag-true-color: #30C7AD;
}

/*body*/

body{
    background-color: var(--add-section-color);
}

/*header style*/

#site_header{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 5rem;
}

#logo{
    height: 100px;
    width: 100px;
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLTO2XVhtyMr24Dnz6QJ-Lsj_05XHim-qMoF6PRc=s900-c-k-c0x00ffffff-no-rj);
}

#logo_text{
    padding-left: 120px;
    display: inline-block;
    font-size: 3rem;
    line-height: 100px;
}

/*main*/

main{
    border-radius: 0.5rem;
    width: 60%;
    margin: auto;
    background-color: white;
}

/*buttons*/

#add_box{
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--add-section-color);
}

#add_task{
    background-color: var(--add-task-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    color: white;
}

#add_section{
    background-color: var(--bg-body-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 15px;
    border: 2px solid var(--add-section-color);
    border-radius: 6px;
    color: var(--add-section-color);
}

/*spunte task*/

.circle_v{
    display: inline-block;
    padding: 2px;
    width: 0.7rem;
    height: 0.7rem;
    border: 2px lightgreen solid;
    border-radius: 50%;
    color: lightgreen;
    font-size: 15px;
    margin-right: 5px;
}

.text_v{
    display: inline-block;
    line-height: 0.7rem;
    vertical-align: middle;
}

.text_x{
    display: inline-block;
    line-height: 0.7rem;
    vertical-align: middle;
}

.circle_x{
    display: inline-block;
    padding: 2px;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px lightcoral solid;
    border-radius: 50%;
    color: lightcoral;
    font-size: 15px;
}

/*mittenti*/

.editorial{
    font-size: 12px;
    background-color: var(--button-editorial-color);
    padding: 0.4rem;
    border-radius: 10px;
    color: #Ffffff;
}

.q1_goals{
    font-size: 12px;
    background-color: var(--button-q1-goal-color);
    padding: 0.4rem;
    border-radius: 10px;
    color: white;
}

.recluting{
    font-size: 12px;
    background-color: var(--button-recruiting-color);
    padding: 0.4rem;
    border-radius: 10px;
    color: white;
}

.mobile{
    font-size: 12px;
    background-color: var(--button-mobile-color);
    padding: 0.4rem;
    border-radius: 10px;
    color: white;
}

.website{
    font-size: 12px;
    background-color: var(--button-website-color);
    padding: 0.4rem;
    border-radius: 10px;
    color: white;
}

.sales{
    font-size: 12px;
    background-color: var(--button-sales-color);
    padding: 0.4rem;
    border-radius: 10px;
    color: white;
}

/*task section*/

.tasks{
    padding: 4rem;
}

.section_title{
    font-size: 25px;
}

.task_section{
    
}

.task_row{
    margin-bottom: 1rem;
}










